<a href="https://colab.research.google.com/github/Lee-Geunhee/Lee-Geunhee/blob/main/ddd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/train_data.csv')

In [3]:
df

        id  age  gender  respiratory_condition  fever_or_muscle_pain  covid19
0        1   24  female                      0                     1        0
1        2   51    male                      0                     0        0
2        3   22    male                      0                     0        0
3        4   29  female                      1                     0        0
4        5   23    male                      0                     0        0
...    ...  ...     ...                    ...                   ...      ...
3800  3801   53    male                      0                     0        0
3801  3802   25    male                      0                     0        0
3802  3803   26  female                      0                     0        0
3803  3804   27  female                      0                     0        0
3804  3805   49  female                      1                     1        0

[3805 rows x 6 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3805 entries, 0 to 3804
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3805 non-null   int64
 1   age                    3805 non-null   int64
 2   gender                 3805 non-null   object
 3   respiratory_condition  3805 non-null   int64
 4   fever_or_muscle_pain   3805 non-null   int64
 5   covid19                3805 non-null   int64
dtypes: int64(5), object(1)
memory usage: 178.5+ KB

In [5]:
df.describe()

,id,age,respiratory_condition,fever_or_muscle_pain,covid19
count,3805.000000,3805.000000,3805.000000,3805.000000,3805.000000
mean,1903.000000,36.768463,0.144809,0.084625,0.080420
std,1098.553215,14.708248,0.351955,0.278360,0.271979
min,1.000000,1.000000,0.000000,0.000000,0.000000
25%,952.000000,25.000000,0.000000,0.000000,0.000000
50%,1903.000000,35.000000,0.000000,0.000000,0.000000
75%,2854.000000,46.000000,0.000000,0.000000,0.000000
max,3805.000000,90.000000,1.000000,1.000000,1.000000

In [17]:
df['age'].min()

1

In [21]:
df['fever_or_muscle_pain'].value_counts()

0    3483
1     322
Name: fever_or_muscle_pain, dtype: int64

In [22]:
df

        id  age  gender  respiratory_condition  fever_or_muscle_pain  covid19
0        1   24  female                      0                     1        0
1        2   51    male                      0                     0        0
2        3   22    male                      0                     0        0
3        4   29  female                      1                     0        0
4        5   23    male                      0                     0        0
...    ...  ...     ...                    ...                   ...      ...
3800  3801   53    male                      0                     0        0
3801  3802   25    male                      0                     0        0
3802  3803   26  female                      0                     0        0
3803  3804   27  female                      0                     0        0
3804  3805   49  female                      1                     1        0

[3805 rows x 6 columns]

In [23]:
df.loc[ df['age'] <= 10, 'age_clean'] = 0
df.loc[(df['age'] > 10) & (df['age'] <= 20), 'age_clean'] = 1
df.loc[(df['age'] > 20) & (df['age'] <= 30), 'age_clean'] = 2
df.loc[(df['age'] > 30) & (df['age'] <= 40), 'age_clean'] = 3
df.loc[(df['age'] > 40) & (df['age'] <= 50), 'age_clean'] = 4
df.loc[(df['age'] > 50) & (df['age'] <= 60), 'age_clean'] = 5
df.loc[(df['age'] > 60) & (df['age'] <= 70), 'age_clean'] = 6
df.loc[(df['age'] > 70) & (df['age'] <= 80), 'age_clean'] = 7
df.loc[(df['age'] > 80) & (df['age'] <= 90), 'age_clean'] = 8
df.loc[(df['age'] > 90) & (df['age'] <= 100), 'age_clean'] =9

In [24]:
df

,id,age,gender,respiratory_condition,fever_or_muscle_pain,covid19,age_clean
0,1,24,female,0,1,0,2.0
1,2,51,male,0,0,0,5.0
2,3,22,male,0,0,0,2.0
3,4,29,female,1,0,0,2.0
4,5,23,male,0,0,0,2.0
...,...,...,...,...,...,...,...
3800,3801,53,male,0,0,0,5.0
3801,3802,25,male,0,0,0,2.0
3802,3803,26,female,0,0,0,2.0
3803,3804,27,female,0,0,0,2.0
3804,3805,49,female,1,1,0,4.0

In [28]:
df['age_clean'].value_counts()

2.0    1045
3.0     921
4.0     730
1.0     412
5.0     397
6.0     172
7.0      78
0.0      35
8.0      15
Name: age_clean, dtype: int64

In [31]:
len(df.loc[(df['age_clean']==2.0 & df['covid19']==1)])

TypeError: ignored

In [46]:
len(df.loc[df['covid19'] == 0])

3499

In [48]:
print(len(df.loc[(df['age_clean'] ==8) & (df['covid19'] == 1)]))
print(len(df.loc[(df['fever_or_muscle_pain'] ==0) & (df['covid19'] == 1)]))

2
223

In [49]:
pip install praat-parselmouth

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting praat-parselmouth
  Downloading praat_parselmouth-0.4.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (10.7 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10.7 MB 3.8 MB/s
Requirement already satisfied: numpy>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from praat-parselmouth) (1.21.6)
Installing collected packages: praat-parselmouth
Successfully installed praat-parselmouth-0.4.1